:root {
  --heading-font: "Kavivanar", cursive;
  --primary-color: rgb(152, 161, 148);
  --accent-color: rgb(32, 40, 49);
}
body {
  background-image: url("/img/secondary-bg.png");

  text-align: center;
}
h1 {
  color: rgb(32, 40, 49);
  font-size: 75px;
  margin: 11px;
  margin-top: 20px;
  font-family: var(--heading-font);
}
h2 {
  color: rgb(32, 40, 49);
  font-size: 30px;
  font-weight: normal;
}
h3 {
  margin-top: 55px;
  padding: 11px;
  text-align: center;
}
p {
  font-size: 22px;
  padding: 11px;
}
.more-info {
  font-size: 16px;
  opacity: 0.5 !important;
  padding: 11px;
  margin-left: 20px;
  text-align: left;
}
.homepage {
  background-image: url("/img/tech-bg.png");
  background-size: cover;
}
.hero {
  margin-bottom: 0;
  display: fixed !important;
  background: var(--primary-color);
}
.btn {
  font-size: 22px;
  font-weight: 300;
  width: 150px;
  padding: 20px, 20px;
  color: white !important;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  margin-top: 50px;
  border-radius: 2px;
  transition: ease-in-out;
}
.btn:hover {
  font-weight: 500;
  font-size: 22px;
  color: rgb(32, 40, 49) !important;
  background-color: rgb(180, 180, 180);
  border: 1px solid rgb(180, 180, 180);
  transition: ease-in-out;
}
.btn-branding {
  color: black;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: ease-in-out;
}
.links {
  display: flex;
}
.img-wrap p {
  visibility: hidden;
}
.contact-icon {
  padding: 3px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  flex: 1;
  width: 90px;
}
.contact-col {
  max-width: 100%;
  display: flex;
}
.contact-grid {
  display: inline-flex;
  width: 90%;
  flex: 1;
}
.program-grid {
  display: flex;
}
.program-col {
  display: flex;
  max-width: 100%;
  flex: 1;
  justify-content: space-evenly;
}
.program-icon {
  flex: 1;
  margin-bottom: 0;
  padding: 3px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  width: 80px;
}

.creator-img {
  opacity: 0.8;
  margin-top: 15px;
  margin-bottom: 200px;
  width: 350px;
  border: 2px solid rgb(32, 51, 71);
  border-radius: 100%;
}

.project-img {
  transition: ease-in-out;
  opacity: 0.3;
  border-radius: 8px;
  width: 400px;
}
.project-img:hover {
  transition: ease-in-out;
  opacity: 0.7;
  border-radius: 8px;
}
.vl {
  margin: 0 auto;
  border-left: 170px solid var(--accent-color);
  height: max-content;
  display: inherit;
}
.navbar {
  background-color: rgba(180, 180, 180, 0.2) !important;
  color: rgb(32, 51, 71);
}
.nav-icon {
  max-width: 45px;
}
.nav-link,
.navbar-brand,
.back-to-link {
  padding: 10px;
  font-weight: bold;
  color: rgb(32, 51, 71);
}
.nav-link {
  opacity: 0.7;
  color: rgb(32, 51, 71);
}
.nav-link:hover,
.navbar-brand:hover,
.back-to-link:hover {
  color: rgb(32, 51, 71);
  opacity: 1;
}
.interest-description {
  margin-top: 16px;
  margin-bottom: 16px;
}
.interest-row {
  border: 1px solid black;
  padding: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  .creator-img {
    width: 300px;
  }
  .btn {
    min-width: 100px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    display: none;
  }
  .creator-img {
    width: 200px;
  }
  .btn {
    min-width: 100px;
    font-size: 16px;
  }
}
.img-wrap {
  position: relative;
}
.img-img:hover {
  border: 3px solid rgb(180, 180, 180);
  opacity: 0, 5;
}

.img-description {
  position: absolute;
  margin-top: 5px;
  background: var(--primary-color);
  color: black;
  visibility: hidden;
  opacity: 0.7 !important;
  transition: ease-in-out;
  border-radius: 6px;
}
.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 8;
}
