:root {
  --heading-font: "Kavivanar", cursive;
  --primary-color: rgb(230, 230, 230);
  --accent-color: rgb(100, 96, 88);
}
body {
  background-color: rgb(226, 221, 221);
  text-align: center;
}
h1 {
  margin: 11px;
  margin-top: 80px;
  font-family: var(--heading-font);
}
h2 {
  font-weight: normal;
}
.hero {
  display: fixed !important;
  background: var(--primary-color);
  padding: 20px;
}
.btn {
  max-width: 100px;
  color: rgb(219, 197, 200);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  margin-top: 50px;
}
.btn:hover {
  color: black;
  background-color: rgb(172, 154, 156);
  border: 1px solid rgb(172, 154, 156);
  margin-top: 50px;
}
.btn-branding {
  max-width: 100px;
  color: black;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  margin-top: 20px;
}
.links {
  display: flex;
}
.creator-img {
  opacity: 0.7;
  margin-top: 70px;
  margin-bottom: 100px;
  max-width: 200px;
  border: 1px solid black;
  border-radius: 100px;
}
